body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 .header > img {
    background-color:#13999F;
    /* position: fixed; */
    float: left;
}
/* .header{ */
    /* position: fixed; */
    /* float: right; */
/* } */
/* #rightFloat{
    float: right;
} */
/* .header > img{

    float: left;
    
    
} */
tr:nth-child(even){
    color: white;
}

body > div.header > img {
    width: 25%;
    height: 25%;
}
#colorwhite{
    color: white;
}
.logo {
    margin: auto;
    width: 16ex;
    height: auto;
}

nav {
    background-color: #13999f;
    /* position: fixed; */
    
    padding: 0.25em;
}
body > p{
    font-size: 32;
    font-weight: bold;
}
table, th, td, tr {

    background-color: #13999F;
    color: white;
    text-align: left;
    table-layout: auto;
    margin: 0.5em;
    border: black solid 1px;
    font-size: 13px ;
    
}
#colorwhite > tbody{
    color: white;
}
.footer {
    background-color: #13999f;
    /* background-color: beige; */
    grid-area: footer;
}

hr {
    position: relative;
    border-color: black;
}

body {
    background-color:    #fffacd;
    margin: 2em;
}
/* body > header > img {
    width:15%;
    height: 15%;
} */
img{
    width:228px;
    height: 114px;
}
a:hover {
    border: 2cm;
    /* color: #00FF00; */
}

/* img {
    width: 32ex;
    height: 16ex;
} */


/* body > article > section > table > tbody{
    font-size: xx-large;
} */

/* table{
    font-size: medium;
} */
a::after {
    color: red;
}

a::before {
    color: blue;
}

a::after {
    color: black;
}

a::after {
    background-color: #90C4C0;
}
body > header > nav{
    position: sticky;
}
/* nav { */
    /* justify-content: space-around;
    padding: 0.25em;
    display: block;
    align-items: center;
    height: 20px;
    text-align: center;
    position: static; */
/* } */
/* #colorwhite > tbody > tr:nth-child(4) > td:nth-child(1){
    color: white;
} */

nav a {
    padding: 2em;
}

a {
    padding: 5px 15px;
    border-radius: 10px;
}