.contents {
    background-color: #c4c090;
    margin: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 2fr 2fr 2fr .1fr;
    grid-template-areas: "header" "about" "content" "contact" "footer";
    grid-gap: 20px;
}
/* body > div.header > img {
    width: 100%;
    height: 100%;
} */
body{
    margin: auto;
}
button, input{
    cursor: pointer;
    }
.header {
    background-color: beige;
    grid-area: header;
    
}

.logo {
    margin: auto;
    width: 16ex;
    height: auto;
}

nav {
    float: right;
    padding: 0.25em;
}
/* Placing "Contents from our other pages: " in proper placement */
div.content > h1{
    grid-row-start: -4;
    
        /* grid-row: 0; */
        
        /* grid-column: 0; */
}
body > div.header > img {
    width: 15%;
    height: 15%;
}

.about {
    background-color: #c4c090;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: about;
}
.movie{
    align-self:center;
    height: 400px;
    width: auto;
}

.contact{
    background-color: beige;
    display: grid;
    grid-template-areas: "contactUs" "form";
    grid-template-columns: .2fr 1fr;
    grid-template-rows: .2fr ;
    align-items: flex-start;
    justify-content:flex-start;
    grid-area: contact;
}
img{
    width: 300px;
    height: auto;
}

.footer {
    background-color: #292929;
    /* background-color: beige; */
    grid-area: footer;
}
.content h1{
    align-items: baseline;
    
}
div.content{
grid-area: content;
background-color: beige;
margin: 20px 20px;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-template-areas: "location actor"
"summary summary";
}
#Form{
    margin: 3em;
    grid-area: form;
}
#contactText{
    text-align: center;
    font-size: xx-large;
}

#Locations{
    grid-area: location;
    align-self: center;
  justify-self: center;
}

#Actors{
grid-area: actor;
align-self: center;
  justify-self: center;

}

#Summary{
grid-area: summary;
align-self: center;
  justify-self: center;
}


/* Small Screen */

@media only screen and (max-width : 640px) {
    #Form > fieldset:nth-child(2) > p:nth-child(5){
        font-size: medium;
    }
    body{
       background-color:  #d29d05;
    }
    .contact {
        background-color: #13999f;
        color: white;
    }
    /* html, body{
        background-color: #c5c8c9 ;
    } */
    /* #Locations > h3{
        text-decoration: underline;
        float: left;
        font-size: x-large;
       
    } */
    button:{
        outline:2px solid blue; background-color: red; color: white;  text-decoration:underline;
        }
        button:hover{
            outline:2px solid blue; background-color: red; color: white;  text-decoration:underline;
            }
    body > div.contact
     {
        font-size: smaller;
        color: white;
        background-color: #13999f;
    }
    #Form > fieldset:nth-child(1) > legend{
        font-size:larger;
    }
    body > div.header > img {
        width: 50px;
        height: 50px;
    }
    #Actors > h3 {
        text-decoration: underline;
    }
    #Locations > h3 {
        text-decoration: underline;
    }
    #Summary > h3 {
        text-decoration: underline;
    }
   #Locations > p {
       font-size: large;
   }
    #Actors > p{
            font-size: large;
        
    }
    #Summary > p{
        font-size: large;
    }
    #Summary > p > img {
        align-items: flex-start;
        float: left;
    }

    #Actors > p > img {
     
    }
    #Actors > p > img {
        float: left;
    }
    #Locations > p > img {
        align-items: flex-start;
        float: left;
        
        align-content: space-around;
    }
    body > div.content{
        margin: auto;
        display: grid;
        grid-area: content;
        background-color: #13999f;
        color: white;
        /* padding: 500px; */
        margin: auto;
        
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "location" "actor" "summary";
        width: 100%;
    }
   
    body > div.content > h1 {
        font-size:xx-large;
    }
    div.content > h1{
        grid-row-start: -6;
            grid-column: 0;
    }
    h2{
        font-size: medium;
    }
    h3{
        font-size: xx-large;
    } 
    p{
        font-size: xx-small;
    }
    body > div.content > h1 {
        grid-column: -2;
    }
    .contact{
        background-color: gray;
        display: grid;
        grid-template-areas: "contactUs" "form";
        grid-template-columns:  1fr;
        grid-template-rows: .2fr ;
        align-items: flex-start;
        justify-content:flex-start;
        grid-area: contact;
    }
    #Form > fieldset:nth-child(1) > p:nth-child(3) {
        font-size:medium;
    }
    #Form > fieldset:nth-child(1) > p:nth-child(4){
        font-size: medium;
    }
    #Form > fieldset:nth-child(1) > p:nth-child(5){
                font-size: medium;
    }

    #Form > fieldset:nth-child(2) > p:nth-child(2){
        font-size: medium;
    }
    #Form > fieldset:nth-child(2) > p:nth-child(3){
        font-size: medium;
    }
    #Form > fieldset:nth-child(2) > p:nth-child(4){
        font-size: medium;
    }
    #Form > fieldset:nth-child(3) > p:nth-child(3){
        font-size: medium;
    }
    #Form > fieldset:nth-child(3) > p:nth-child(2) {
        font-size: medium;
    }
                    

}
/* Medium Screen */
@media screen and (min-width: 641px) and (max-width: 1007px) {
    .contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    }
}



/* Large Screen */

@media screen and (min-width: 1008px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}