.contents {
    background-color:darkseagreen;
    margin: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 2fr 2fr 2fr .1fr;
    grid-template-areas: "header" "about" "content" "contact" "footer";
    grid-gap: 20px;
}

body{
    margin: auto;
}
button, input{
    cursor: pointer;
    }
.header {
    background-color: #13999f;;
    grid-area: header;
    
}

<<<<<<< HEAD
=======
.Logo {
   
    width: 100px;
    height: auto;
}
div.contact, div.about, div.header, div.footer {
    margin: 10px 10px;
}

>>>>>>> 14c98108ee08c905e4a842729907f8af49ffd595
nav {
    float: right;
    padding: 0.25em;
}
/* Placing "Contents from our other pages: " in proper placement */
div.content > h1{
    grid-row-start: -4;
}

body > div.header > img {
    width: 15%;
    height: auto;
}
    
#discribe > h1{
    grid-row-start: -4;
}

.about {
    background-color: #13999f;;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: about;
}
.movie{
    grid-row-start: -2;
    width: 15%;
    height: auto;
    align-self:center;
    
}

.contact{
    background-color: #13999f;;
    display: grid;
    grid-template-areas: "contactUs" "form";
    grid-template-columns: .2fr 1fr;
    grid-template-rows: .2fr ;
    align-items: flex-start;
    justify-content:flex-start;
    grid-area: contact;
    margin: 10px 10px;
}
img{
    width: 300px;
    height: auto;
}

.footer {
    background-color: #292929;
    /* background-color: beige; */
    margin: 10px 10px;
    grid-area: footer;
}
.content h1{
    align-items: baseline;
    
}
div.content{
grid-area: content;
background-color: #13999f;
margin: 20px 20px;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-template-areas: "location actor"
"summary summary";
}

#Form{
    margin: 3em;
    grid-area: form;
}
#contactText{
    text-align: center;
    font-size: xx-large;
}
#discribe{
    text-align: center;
    font-size: xx-large;
}

#Locations{
    grid-area: location;
    align-self: center;
  justify-self: center;
}

#Actors{
grid-area: actor;
align-self: center;
  justify-self: center;

}

#Summary{
grid-area: summary;
align-self: center;
  justify-self: center;
}


/* Small Screen */

@media only screen and (max-width : 640px) {
    .content{
        margin: 20px -20px;
    }
    #Form > fieldset:nth-child(2) > p:nth-child(5){
        font-size: medium;
    }
    body{
       background-color:  #d29d05;
    }
    .contact {
        background-color: #13999f;
        color: white;
    }
   
    button:focus{
        outline:2px solid blue; background-color: red; color: white;  text-decoration:underline;
        }
        button:hover{
            outline:2px solid blue; background-color: red; color: white;  text-decoration:underline;
            }
    body > div.contact
     {
        font-size: smaller;
        color: white;
        background-color: #13999f;
    }
    #Form > fieldset:nth-child(1) > legend{
        font-size:larger;
    }
    body > div.header > img {
        width: 50px;
        height: auto;
    }
    .content > h3 {
        text-decoration: underline;
    }
    .content > p {
        font-size: large;
    }
   /* #Locations > p {
       font-size: large;
   }
    #Actors > p{
            font-size: large;
        
    }
    #Summary > p{
        font-size: large;
    } */

    #Summary > p > img {
        align-items: flex-start;
        float: left;
    }

    #Actors > p > img {
        float: left;
    }
    #Locations > p > img {
        align-items: flex-start;
        float: left;
        
        align-content: space-around;
    }
    body > div.content{
        margin: 20px 20px ;
        display: grid;
        grid-area: content;
        background-color: #13999f;
        color: white;
        /* padding: 500px; */
        /* margin: auto; */
        
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "location" "actor" "summary";
        
    }
   
    body > div.content > h1 {
        font-size:xx-large;
    }
    div.content > h1{
        grid-row-start: -6;
            grid-column: 0;
    }
    h2{
        font-size: medium;
    }
    h3{
        font-size: xx-large;
    } 
    p{
        font-size: xx-small;
    }
    body > div.content > h1 {
        grid-column: -2;
    }
    .contact{
        background-color: gray;
        display: grid;
        grid-template-areas: "contactUs" "form";
        grid-template-columns:  1fr;
        grid-template-rows: .2fr ;
        align-items: flex-start;
        justify-content:flex-start;
        grid-area: contact;
    }
    #Form > fieldset:nth-child(1) > p:nth-child(3) {
        font-size:medium;
    }
    #Form > fieldset:nth-child(1) > p:nth-child(4){
        font-size: medium;
    }
    #Form > fieldset:nth-child(1) > p:nth-child(5){
                font-size: medium;
    }

    #Form > fieldset:nth-child(2) > p:nth-child(2){
        font-size: medium;
    }
    #Form > fieldset:nth-child(2) > p:nth-child(3){
        font-size: medium;
    }
    #Form > fieldset:nth-child(2) > p:nth-child(4){
        font-size: medium;
    }
    #Form > fieldset:nth-child(3) > p:nth-child(3){
        font-size: medium;
    }
    #Form > fieldset:nth-child(3) > p:nth-child(2) {
        font-size: medium;
    }
                    
    .small-movie{
        width: auto;
    }

}
/* Medium Screen */
@media screen and (min-width: 641px) and (max-width: 1007px) {
<<<<<<< HEAD
     
    .medium-movie{
=======
       /* #Locations > h3{
        text-decoration: underline;
        float: left;
        font-size: x-large;
       
    } */
    .contact{
        background-color: gray;
        display: grid;
        grid-template-areas: "contactUs" "form";
        grid-template-columns:  1fr;
        grid-template-rows: .2fr ;
        align-items: flex-start;
        justify-content:flex-start;
        grid-area: contact;
    }
    .movie{
>>>>>>> 14c98108ee08c905e4a842729907f8af49ffd595
        width: auto;
    }
    .content > h3 {
        text-decoration: underline;
    }
    .content > p {
        font-size: x-large;
    }
    body > div.header > img {
        width: 100px;
        height: auto;
    }
    .about > p{ 
        font-size: x-large;
       
    }

    body > div.header > img {
        width: 100px;
        height: 100px;  
        object-fit: cover; 
    }

    body > div.content{
        display: grid;
        grid-area: content;
        background-color: beige;
        padding: 20px;        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "location actor" "summary summary";
        
    }
    #Locations{
        grid-area: location;
        align-self: center;
      justify-self: center;
    }
    
    #Actors{
    grid-area: actor;
    align-self: center;
      justify-self: center;
    
    }
    
    #Summary{
    grid-area: summary;
    align-self: center;
      justify-self: center;
    }
    
}



/* Large Screen */

@media screen and (min-width: 1008px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .movie{
        width: auto;
    }
    #Actors > h3 {
        text-decoration: underline;
    }
    #Locations > h3 {
        text-decoration: underline;
    }
    #Summary > h3 {
        text-decoration: underline;
    }
  
    .about > p{ 
        font-size: x-large;
       
    }
    body > div.content{
        display: grid;
        grid-area: content;
        background-color: beige;
        padding: 20px;
       
    
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "location actor" "summary summary";
        width: 100%;
    }
    #Locations{
    grid-area: location;
    align-self: center;
      justify-self: center;
    }
    
    #Actors{
    grid-area: actor;
    align-self: center;
      justify-self: center;
    
    }
    .small-movie{
        width: auto;
    }
    
    #Summary{
    grid-area: summary;
    align-self: center;
      justify-self: center;
    }

    body > div.content > h1 {
        font-size:x-large;
    }

     body > div.header > img {
        width: 200px;
        height: 200px;  
        object-fit: cover;  
        
        }

        #contactText{
            text-align: center;
            transform: translate(140%);
            font-size: xx-large;
        }

        #Form{
            margin: 2em;
            grid-area: form;
        
        
     transform: translate(175%);
     }
    #Form > fieldset:nth-child(1) > p:nth-child(3) {
          font-size:large;
    }
    #Form > fieldset:nth-child(1) > p:nth-child(4){
            font-size: large;
    }
    #Form > fieldset:nth-child(1) > p:nth-child(5){
            font-size: large;
        }
    
    #Form > fieldset:nth-child(2) > p:nth-child(2){
            font-size: large;
        }
    #Form > fieldset:nth-child(2) > p:nth-child(3){
            font-size: large;
    }
    #Form > fieldset:nth-child(2) > p:nth-child(4){
            font-size: large;
    }
    #Form > fieldset:nth-child(3) > p:nth-child(3){
            font-size: large;
    }
    #Form > fieldset:nth-child(3) > p:nth-child(2) {
            font-size: large;
        }    

}

/*position: fixed; /* or absolute */