

hr{
    position: relative;
   border-color: black;
}
body {
    
    margin: 2em;padding: auto;
}

a:hover {
    border: 2cm;
    color: #00FF00;
}
article,footer{
    margin: 2em;
}

.header {
    /* background-color: beige; */
    grid-area: header;
    
}
img {

    width: 32ex;
    height: 16ex;
}

a::after {
    color: red;
}

a::before {
    color: blue;
}

a::after {
    color: black;
}

a::after {
    background-color: #90C4C0;
}

nav {
    justify-content: space-around;
    padding: 0.25em;
    display: flex;
    font-display: center;
    align-items: center;
    height: 20px;
    text-align: center;
}

nav a {
    padding: 2em;
}

a{
    padding: 5px 15px;
    border-radius: 10px;
}